.cabecalho {
  background-color: lightgray;
  width: 80px;
}

.font-gramatica {
  line-height: 3.7;
}

.font-table {
  line-height: 1.5;
}

.black {
  background-color: #5a5757 !important;
}

.hidden {
  display: none;
}

.ion-item {
  border-radius: 30px !important;
  padding-left: 30px !important;
  font-size: 0.9em;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-bottom: 0 !important;
  box-shadow: none !important;
  background-color: #f1f1f1 !important;
}

.btn {
  border-radius: 30px !important;
  font-size: 0.9em;
}
